
.main-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.components-container{
  padding: 2rem 0rem 2rem 2rem;
  width: 15%;
  background-color: #efefef;
  border-right: 1px solid #a6a6a6;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 0;
  height: 100vh;
  /* overflow-y: auto; */
}

.tile {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.tile:hover{
  background-color: #e5e5e5;
  cursor: grab;
}

.drag-and-drop-container{
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 0rem 1.5rem;
}

/* .drag-and-drop-zone {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(36, 1fr); 
} */

.btn-download-container{
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}

.grid-cell {
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
}

.grid-cell:hover{
  background-color: #ccc;
}

.grid-cell.highlight{
  /* border: 1px dashed red; */
  background-color: #008e3b8b;
}

.grid-cell.occupied{
  background-color: #ae00008c;
}

.yuild-row{
  display: flex;
  flex-wrap: wrap;
}

.yuild-container{
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

[class*='yuild-col-']{
  position: relative;
  width: 100%;
}
.yuild-col-1{
  flex: 0 0 8.33%;
  max-width: 8.33%;
}

.yuild-col-2{
  flex: 0 0 16.66%;
  max-width: 16.66%;
}


.yuild-col-1 { 
  flex: 0 0 8.33%; 
  max-width: 8.33%; 
}
.yuild-col-2 { 
  flex: 0 0 16.66%; 
  max-width: 16.66%; 
}
.yuild-col-3 { 
  flex: 0 0 25%; 
  max-width: 25%; 
}
.yuild-col-4 { 
  flex: 0 0 33.33%; 
  max-width: 33.33%; 
}
.yuild-col-5 { flex: 0 0 41.66%; max-width: 41.66%; }
.yuild-col-6 { flex: 0 0 50%; max-width: 50%; }
.yuild-col-7 { flex: 0 0 58.33%; max-width: 58.33%; }
.yuild-col-8 { flex: 0 0 66.66%; max-width: 66.66%; }
.yuild-col-9 { flex: 0 0 75%; max-width: 75%; }
.yuild-col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.yuild-col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.yuild-col-12 { flex: 0 0 100%; max-width: 100%; }

.title{
 float: left;
}

.overlay-container {
  position: absolute;
  
}

.component-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: orange; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease,
}

.component-overlay:hover{
  box-shadow: inset 0 0 0 3px rgba(0, 0, 255, 1);
}

.button-container{
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.delete-icon-container, .move-icon-container {
  position: absolute;
  right: 0;   
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border-radius: 8px;
}

.delete-icon-container {
  border: 1px solid rgb(185, 0, 0);
  background-color: red;
}

.move-icon-container {
  border: 1px solid rgb(0, 59, 185);
  background-color: rgb(0, 60, 255);
}

.delete-icon {
  width: 16px;  
  height: 16px;
  filter: invert(1);
}

.delete-icon-container, .delete-icon{
  cursor: pointer;
}